<a href="https://colab.research.google.com/github/silvioturati/python/blob/main/curso_p3_variaveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introdução a Variaveis em Python

In [ ]:
nome = 'Silvio Turati'
print(nome) # imprimir o conteúdo da variavél
print(type(nome)) # imprimir o tipo da variavél

Silvio Turati
<class 'str'>

In [ ]:
numero = 18
print(numero)
print(type(numero))

18
<class 'int'>

In [ ]:
verdadeiro = True #proderia ter atribuido o valor False
print(verdadeiro)
print(type(verdadeiro))

True
<class 'bool'>

In [ ]:
#nome da variavel precisa ser descritivo, se possivel usar camelCase
#não pode iniciar com numero (123numero), não pode ter espeço (nome completo)
#tomar cuidado com as pavaras chaves do Python (abs, min, max, etc). São mais de 50 palavras reservadas

IDADE_MINIMA = 18 # constantes são sempre com todas as letras maiusculas
print(IDADE_MINIMA)
print(type(IDADE_MINIMA))

18
<class 'int'>

Missão 1

In [ ]:
# Criar uma varivel e mostrar na tela
nome_completo = 'Silvio Turati'
print(nome_completo)

Silvio Turati

Strings

In [ ]:
#Strings são sequencias de caracteres
#No Python você não precisa declarar o tipo, pelo conteúdo o Python classifica o tipo da varivél
#Abaixo exemplo de métodos para Strings

nome_completo = 'silvio turati'
print('Exemplo1: ' + nome_completo) #deste jeito vai aparecer o conteúdo da variavel
print('Exemplo2: ' + nome_completo.title()) #deste jeito estamos aplicando o método title a varivel nome_completo

Exemplo1: silvio turati
Exemplo2: Silvio Turati

In [ ]:
#No exemplo acima o valor da varivel não mudou. 
#Abaixo vamos imprimir novamente a mesma variavel e depois vamos mudar o valor dela usando o método

print('Exemplo3: ' + nome_completo)
nome_completo = nome_completo.title()
print('Exemplo4: ' + nome_completo) #veja que não estou usando o método title() para imprimir a variavel

Exemplo3: Silvio Turati
Exemplo4: Silvio Turati

In [ ]:
#Existem vários métodos no Python. Para chama-los é só digitar o ponto após o nome da variavel que o IDE vai trazer as possibilidades
#Lembrando que o Python é case sensitive, portanto é sempre bom tratar os dados imputados por usuários.
#Por exemplo, no caso do usuário preencher um cadastro que ficará armazenado no banco de dados, o idela seria armazenar tudo em minusculo
#Para que na recuperação você possa operar e/ou tratar a informação

cadastro_nome = 'SILvio turaTi' # está digitado todo errado
print('Exemplo Lower: ' + cadastro_nome.lower()) #transformando a variavel toda para minusculo
print('Exemplo Upper: ' + cadastro_nome.upper()) #transformando a variavel toda para maiusculo
#do mesmo modo que estamos tratando o dado para imprimir, podemos tratar o dados para armazenar no banco de dados

Exemplo Lower: silvio turati
Exemplo Upper: SILVIO TURATI

In [ ]:
#variaveis tipo string aceitam operações de concatenação
nome = 'Silvio'
sobrenome = 'Turati'
nome_concatenado = nome + sobrenome
print(nome)
print(sobrenome)
print(nome + ' ' + sobrenome)
print(nome_concatenado)

#outra maneira de concatenar
nome_completo3 = '{} {}'.format(nome, sobrenome)
print("Exemplo nome completo 3: " + nome_completo3)
nome_completo4 = 'Sr.{}-{}'.format(nome, sobrenome)
print("Exemplo nome completo 4: " + nome_completo4)

Silvio
Turati
Silvio Turati
SilvioTurati
Exemplo nome completo 3: Silvio Turati
Exemplo nome completo 4: Sr.Silvio-Turati

In [ ]:
#também aceitam multiplicação
print(5 * nome)

SilvioSilvioSilvioSilvioSilvio

In [ ]:
#também podemos tabulação e quebra de linha
print("Digite seu nome: \nDigite seu sobrenome: \n") #exemplo pular linha
print('Digite seu telefone: \t\t\t\tDigite seu email: \n') #exemplo de tabulação
#pode também combinar mais tipos de tabulação

Digite seu nome:
Digite seu sobrenome:

Digite seu telefone: 				Digite seu email:

In [ ]:
# se eu precisar usar aspas simples no texto, então eu utilizo aspas duplas para delimitar a string
exemplo_aspas_barras_1 = "I don't eat pizza"
print(exemplo_aspas_barras_1)
# mas a barra invertida também tem a função de ignorar o caracter posterior
exemplo_aspas_barras_2 = 'I DON\'T EAT PIZZA'
print(exemplo_aspas_barras_2)
# então para o caso abaixo onde informamos diretórios, usamos o r (raw string)
exemplo_aspas_barras_3 = r"C:\windows\users\silvioturati\documentos" 
print(exemplo_aspas_barras_3)

I don't eat pizza
I DON'T EAT PIZZA
C:\windows\users\silvioturati\documentos

In [ ]:
#quando precisamos informar um comentário para o usuário podemos usar """\
print("""\
Funcionalidades: essa função tem as [OPÇÕES]
                -h  Mostra Ajuda
                -v  Mostra Versão
""")

Funcionalidades: essa função tem as [OPÇÕES]
                -h  Mostra Ajuda
                -v  Mostra Versão

In [ ]:
#Lembrando que strings são imutaveis, por exemplo:
#nome = "Silvioo"
#digitei errado, está com dois o no final
#pra alterar só criando uma variavel nova
#nome = "Silvio"

In [ ]:
#espaço numa string do Python é considerado valor, por exemplo:
estado1 = 'Mato Grosso'
estado2 = '   Mato Grosso   '
estado3 = ' Mato Grosso'
estado4 = 'Mato Grosso  '
estado1 == estado2 == estado3 == estado4

False

In [ ]:
#para remover espaço
estado2 = estado2.strip() #remove espaços do começo e do final
estado3 = estado3.lstrip() #remove espaços do começo (l de left)
estado4 = estado4.rstrip() #remove espaços do final (r de right)
estado1 == estado2 == estado3 == estado4

True

Missão 2

In [ ]:
#1. Armazene o nome de uma pessoa numa variável e print uma mensagem para essa pessoa. 
#Tem que ser simples como: "Olá nome, você gostaria de aprender Python hoje?"
nome_missao1 = "Silvio"
print("Olá " + nome_missao1 + ", você gostaria de aprender Python hoje?")

Olá Silvio, você gostaria de aprender Python hoje?

In [ ]:
#2. Armazene o nome de uma pessoa numa variável e print o nome dela tudo em minúsculo, maiúsculo e em modo título.
nome_missao2 = "sILVio"
print("Tudo minusculo: " + nome_missao2.lower())
print("Tudo maiusculo: " + nome_missao2.upper())
print("Titulo: " + nome_missao2.title())

Tudo minusculo: silvio
Tudo maiusculo: SILVIO
Titulo: Silvio

In [ ]:
#3. Encontre uma frase famosa de uma pessoa que você admira. Print a frase e o nome do autor. 
#A saída deve ser algo assim: "Albert Eisten uma vez disse: 'Uma pessoa que nunca fez um erro nunca tentou nada novo.'"
print("Albert Eisten uma vez disse: 'Uma pessoa que nunca fez um erro nunca tentou nada novo.'")

Albert Eisten uma vez disse: 'Uma pessoa que nunca fez um erro nunca tentou nada novo.'

In [ ]:
#4. Repita o exercício anterior mas armazene o autor em uma variável pessoa_famosa e a frase numa variável mensagem. Print sua mensagem.
famoso = "albert eisten"
frase = "'Uma pessoa que nunca fez um erro nunca tentou nada novo.'"
print(famoso.title() + " uma vez disse: " + frase)

Albert Eisten uma vez disse: 'Uma pessoa que nunca fez um erro nunca tentou nada novo.'

In [ ]:
#5. Armazene o nome de alguém com espaços em branco antes e depois do nome. Use uma vez pelo menos \t e \n. 
#Print o nome uma vez para ver os espaços em branco e então use lstrip(), rstrip() e strip() nesta variável.
nome_missao5 = "  Silvio  "
print("Sem strip: " + nome_missao5)
print("Com strip: " + nome_missao5.strip())

Sem strip:   Silvio
Com strip: Silvio

F-Strings

In [3]:
mensagem = "seja bem vindo"
nome = "silvio"
print("Olá " + nome.title() + ", " + mensagem + ".") # print sem F-Strings
print(f"Ola {nome.title()}, {mensagem}.") # print usando F-Strings

Olá Silvio, seja bem vindo.
Ola Silvio, seja bem vindo.

In [4]:
# o F-String também ajuda na hora de converter integers para strings
idade = 18 # se declararmos uma variavel integer e pedir para printar diretamente, teremos um erro como abaixo
print("ola " + idade)

TypeError: ignored

In [6]:
# isso porque para imprimir "numeros" é necessário converte-los para strings, tipo exemplo abaixo:
print("ola " + str(idade))

ola 18

In [8]:
#mas com F-String isso pode ser feito diretamente
print(f"Ola {idade}")

Ola 18

Missão 3

In [12]:
#Escreva uma f-string usando as variáveis nome_completo, endereco_completo e idade. A f-string deverá ter o seguinte resultado:
#"O usuário Jefferson Santos reside no endereço Rua Marechal Floriado Peixoto, número 10, Curitiba - PR e sua idade é 18 anos."​
nome_missao3 = "silvio"
sobrenome_missao3 = "turati"
idade_missao3 = 43
rua_missao3 = "rua bernardino de campos"
numero_casa_missao3 = 383
cidade_missao3 = "araras"
estado_missao3 = "sp"
print(f"O usuário {nome_missao3.title()} {sobrenome_missao3.title()} reside no endereço {rua_missao3.title()}, número {numero_casa_missao3}, {cidade_missao3.title()} - {estado_missao3.upper()} e sua idade é {idade} anos.")

O usuário Silvio Turati reside no endereço Rua Bernardino De Campos, número 383, Araras - SP e sua idade é 18 anos.

Números

In [13]:
10 + 10 #soma

20

In [14]:
10 - 10 #subtração

0

In [15]:
10 * 10 #multiplicação

100

In [16]:
10 / 10 #divisão

1.0

In [17]:
2 ** 3 #potenciação

8

In [44]:
10 % 3 #módulo

1

In [19]:
2 + 5 * 10 / 2 - 5 #Python segue ordem de precedência aritmética

22.0

In [20]:
(2 + 5) * 10 / (2 - 5) #também respeita parenteses

-23.333333333333332

In [25]:
5 // 3 #divide e traz só a parte inteira

1

In [27]:
6 + 6j #numeros complexos Exemplo: (c + 6j) sendo o c uma constante, atribui um valor qualquer

(6+6j)

Index() e Find()

In [36]:
str1 = "Exemplo de uma string" #uma frase qualquer com 11 letras antes da palavra uma
str2 = "uma"
print(str1.index(str2)) #retorna a posição onde a palavra "uma" começa na String
print(str1.index(str2, 10)) #retorna a posição onde a palavra "uma" começa na String desconsiderando pulando a as 10 primeiras posições
print(str1.index(str2, 15)) #vai dar erro pois depois de 15 posições não teremos a palavra uma

11
11

ValueError: ignored

In [42]:
# as mesmas variveis só que com o método find
print(str1.find(str2)) #vai retornar em qual posição a palavra "uma" começa
print(str1.find(str2,10)) #vai retornar em qual posição a palavra "uma" começa
print(str1.find(str2,15)) #vai retornar -1 que significa que não encontrou a palavra

11
11
-1

In [ ]:
# Portanto a diferença entre os métodos Index e Find é que:
# quando o Index não encontra a palavra (sub-string) desejada dentro da frase (string) retornar uma excessão (isso é um erro)
# o Find retorna -1,