<a href="https://colab.research.google.com/github/silvioturati/python/blob/main/ListasLacosFor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas em Python3

In [156]:
#criando uma lista é quase como uma variavel, só que os valores da lista estão dentro de colchetes. 
comidas = ["pizza", "hamburguer", "churrasco", 10, 10.5, 200.0] #o nomes geralmente no plural, e os valores podem ser de diferentes tipos
comidas

['pizza', 'hamburguer', 'churrasco', 10, 10.5, 200.0]

In [157]:
#você pode ter lista dentro de lista
carros = [["gol", "palio", "ka"],["volks", "fiat", "ford"], [20000.0, 22000.0, 19000.0]]
carros

[['gol', 'palio', 'ka'],
 ['volks', 'fiat', 'ford'],
 [20000.0, 22000.0, 19000.0]]

In [158]:
#acessando a lista
#a lista tem o indexador começando em 0, então o primeiro item da lista é o idex 0, por exemplo:
#comidas = ["pizza", "hamburguer", "churrasco", 10, 10.5, 200.0]
#comidas = [0      , 1           , 2          , 3 , 4   , 5    ]
print("Eu comi " + comidas[0] + " e gastei " + str(comidas[3]) + " reais ontem na pizzaria.")
print("Eu comi {} e gastei {} reais ontem a noite".format(comidas[2], comidas[5]))
print(f"Eu comi {comidas[1]} e gastei {comidas[4]} reais ontem na hamburgueria")
print(f"Eu tenho um {carros[0][0]} da {carros[1][0]} e comprei por {carros[2][0]}")

Eu comi pizza e gastei 10 reais ontem na pizzaria.
Eu comi churrasco e gastei 200.0 reais ontem a noite
Eu comi hamburguer e gastei 10.5 reais ontem na hamburgueria
Eu tenho um gol da volks e comprei por 20000.0

In [159]:
#também pode declarar uma varivel com o valor escolhido da lista
preco_do_carro = carros[2][2]
preco_do_carro

19000.0

In [160]:
#também pode usar métodos
nome_da_comida = comidas[0].title()
nome_da_comida

'Pizza'

In [161]:
#para acessar o ultimo numero da lista
comidas[-1] #é só pedir o -1. Se quiser o penultimo -2 e assim vai

200.0

In [162]:
#para acessar o último item da lista carros.Veja que ele retorna a última lista porque a lista carros é composta por 3 listas
carros[-1]

[20000.0, 22000.0, 19000.0]

In [163]:
#então para acessar o último dentro da última lista da lista carros
carros[-1][-1]

19000.0

In [164]:
#para saber quantos itens uma lista
len(comidas)

6

In [165]:
#veja que para a lista de carros, apesas dela ter 3 listas dentro de uma lista o tamanho da lista é 3
len(carros)

3

In [166]:
#abaixo estamos então sabendo o tamanho da lista 0 dentro da lista carros
len(carros[0])

3

Missão 6

In [167]:
#1. Armazene os nomes dos seus amigos numa lista e accesse cada elemento da lista, um por vez.
amigos = ["Fulano", "Beltrano", "Cicrano"]
print("amigo 1: " + amigos[0])
print("amigo 2: " + amigos[1])
print("amigo 3: " + amigos[2])

amigo 1: Fulano
amigo 2: Beltrano
amigo 3: Cicrano

In [168]:
#2. Agora usando a mesma lista acima, mostre o nome dos seus amigos com uma mensagem para cada um. Mensagem sempre a mesma, o nome do amigo precisa ser diferente.
print(f"{amigos[0].title()} é meu amigo")
print(f"{amigos[1].title()} é meu amigo")
print(f"{amigos[2].title()} é meu amigo")

Fulano é meu amigo
Beltrano é meu amigo
Cicrano é meu amigo

Alterar, adicionar e remover elementos de uma lista

In [169]:
#alterando um elemento da lista
marcas_carros = ["Ferrari", "Ford", "GM"] #lista inicial
marcas_carros

['Ferrari', 'Ford', 'GM']

In [170]:
marcas_carros[0] = "Fiat" #alterando o elemento 0 de Ferrari para Fiat
marcas_carros

['Fiat', 'Ford', 'GM']

In [171]:
#adicionando um elemento no final da lista
marcas_carros.append("Porsche")
marcas_carros

['Fiat', 'Ford', 'GM', 'Porsche']

In [172]:
#adcionando um elemento numa posição escolhida
marcas_carros.insert(0, "Ferrari") #estou incluindo a marca Ferrari no indice 0 e todos os outros itens irão correr uma posição para direita
marcas_carros

['Ferrari', 'Fiat', 'Ford', 'GM', 'Porsche']

In [173]:
#removendo um elemento da lista
del marcas_carros[0] #dessa maneira deletamos o item pela posição do index
marcas_carros.remove("Fiat") #dessa maneira deletamos o item pelo valor
marcas_carros

['Ford', 'GM', 'Porsche']

In [174]:
#removendo e salvando numa variavel o valor removido
lista_emails = ["Cicrano", "Beltrano", "Fulano", "Jose", "João"]
#o método .pop() remove o item permitindo salvar o seu valor numa variavel para que possa ser usado num outro momento
removido = lista_emails.pop() #.pop() com parenteses vazio vai excluir o último item da lista. Mas pode-se colocar o idexador no parenteses e escolher a posição desejada
print(f"{removido} foi removido da lista de e-mails")
print(f"A lsita de e-mails agora ficou com os valores {lista_emails}")

João foi removido da lista de e-mails
A lsita de e-mails agora ficou com os valores ['Cicrano', 'Beltrano', 'Fulano', 'Jose']

Missão 7

In [175]:
#1. Faça uma lista de amigos que gostaria de convidar para seu casamento. Agora use sua lista para convidar cada um deles e print uma mensagem.
lista_convidados = ["Jose", "João", "Luiz", "Santos"]
for convidado in lista_convidados:
  print(f"{convidado} espero você no meu casamento")

Jose espero você no meu casamento
João espero você no meu casamento
Luiz espero você no meu casamento
Santos espero você no meu casamento

In [176]:
#2. Infelizmente alguns não poderão vir para seu casamento e então teria que enviar um convite para novos amigos.
#Print uma frase com o nome dos seus amigos que nao poderão vir;
#Modifique sua lista, trocando o nome dos que não virão para o nome de novas pessoas que serão convidadas;
#Print um segundo conjunto de mensagens convidando essa lista para cada pessoa que está na sua lista.
lista_convidados = ["Jose", "João", "Luiz", "Santos"]
lista_desistentes = []
lista_desistentes.append(lista_convidados.pop(0)) #quero retirar Jose
lista_desistentes.append(lista_convidados.pop(0)) #quero retirar João
lista_convidados.append("Carlos")
lista_convidados.append("Pedro")

for desistente in lista_desistentes:
  print(f"{desistente} que pena, mas obrigado!")

for convidado in lista_convidados:
  print(f"{convidado} espero você no meu casamento")

Jose que pena, mas obrigado!
João que pena, mas obrigado!
Luiz espero você no meu casamento
Santos espero você no meu casamento
Carlos espero você no meu casamento
Pedro espero você no meu casamento

In [177]:
#3. Você descobriu que o local aceitará mais pessoas para seu casamento.
#Envie uma mensagem para cada um informando-as que teremos mais espaço para convidados;
#Use insert() para adicionar um novo convidado no começo da sua lista;
#Use insert() para adicionar um novo no meio da sua lista;
#Use append() para adicionar um novo no final da sua lista; 
#Print um novo convite para todos da sua lista.
lista_convidados = ["Luiz", "Santos", "Carlos", "Pedro"]
for convidado in lista_convidados:
  print(f"{convidado} Temos mais espaço")

lista_convidados.insert(0, "Margarida")
lista_convidados.insert(3, "Donald")
lista_convidados.append("Emilia")
for convidado in lista_convidados:
  print(f"{convidado} espero você no meu casamento")

lista_convidados

Luiz Temos mais espaço
Santos Temos mais espaço
Carlos Temos mais espaço
Pedro Temos mais espaço
Margarida espero você no meu casamento
Luiz espero você no meu casamento
Santos espero você no meu casamento
Donald espero você no meu casamento
Carlos espero você no meu casamento
Pedro espero você no meu casamento
Emilia espero você no meu casamento

['Margarida', 'Luiz', 'Santos', 'Donald', 'Carlos', 'Pedro', 'Emilia']

In [178]:
#4. Infelizmente no último dia, somente 3 pessoas poderão ir no seu casamento.
#Apartir da ultima lista que você tem, print uma mensagem dizendo que somente 3 pessoas poderão vir para seu casamento;
#Use pop() para remover os convidados um por vez até ficar somente 3 na lista. Sempre que usar o pop() print uma mensagem para essa pessoa pedindo desculpas pelo engano;
#Print uma mensagem para os 3 que sobraram na lista;
#Use del para remover os últimos 3 da lista, para ter então uma lista vazia. Print sua lista vazia para garantir que esteja realmente vazia.
lista_convidados = ['Margarida', 'Luiz', 'Santos', 'Donald', 'Carlos', 'Pedro', 'Emilia']

for convidado in lista_convidados:
  print(f"{convidado} desculpe o transtorno, mas só tenho espaço para 3 convidados")

print("---------------")

lista_removidos = []
lista_removidos.append(lista_convidados.pop(1)) #excluindo Luiz
lista_removidos.append(lista_convidados.pop(1)) #excluindo Santos
lista_removidos.append(lista_convidados.pop(2)) #excluindo Carlos
lista_removidos.append(lista_convidados.pop(2)) #excluindo Pedro
for removido in lista_removidos:
  print(f"{removido} você não vai caber na festa.")

print("---------------")

for convidado in lista_convidados:
  print(f"{convidado} você vai caber na festa")

print("---------------")

contador = 0
while (contador < len(lista_convidados)):
  del lista_convidados[contador]

contador = 0
while (contador < len(lista_removidos)):
  del lista_removidos[contador]

lista_convidados

Margarida desculpe o transtorno, mas só tenho espaço para 3 convidados
Luiz desculpe o transtorno, mas só tenho espaço para 3 convidados
Santos desculpe o transtorno, mas só tenho espaço para 3 convidados
Donald desculpe o transtorno, mas só tenho espaço para 3 convidados
Carlos desculpe o transtorno, mas só tenho espaço para 3 convidados
Pedro desculpe o transtorno, mas só tenho espaço para 3 convidados
Emilia desculpe o transtorno, mas só tenho espaço para 3 convidados
---------------
Luiz você não vai caber na festa.
Santos você não vai caber na festa.
Carlos você não vai caber na festa.
Pedro você não vai caber na festa.
---------------
Margarida você vai caber na festa
Donald você vai caber na festa
Emilia você vai caber na festa
---------------

[]

Organizando listas

In [179]:
carros2 = ["Ferrai", "Fiat", "Toyota", "Honda", "Volks", "Ford", "BMW"]
sorted(carros2) #apresenta a lista ordenada por ordem crescente, mas não altera a lista

['BMW', 'Ferrai', 'Fiat', 'Ford', 'Honda', 'Toyota', 'Volks']

In [180]:
carros2 = ["Ferrai", "Fiat", "Toyota", "Honda", "Volks", "Ford", "BMW"]
sorted(carros2, reverse=True) #apresenta a lista ordenada por ordem decrescente, mas não altera a lista

['Volks', 'Toyota', 'Honda', 'Ford', 'Fiat', 'Ferrai', 'BMW']

In [181]:
carros2 #veja abaixo que a lista continua como original

['Ferrai', 'Fiat', 'Toyota', 'Honda', 'Volks', 'Ford', 'BMW']

In [182]:
#se quisesse manter a ordenação poderia carregar a lista numa nova lista
carros2_ordenado = sorted(carros2)
carros2_ordenado

['BMW', 'Ferrai', 'Fiat', 'Ford', 'Honda', 'Toyota', 'Volks']

In [183]:
carros2 #mas a lista carros 2 continua original

['Ferrai', 'Fiat', 'Toyota', 'Honda', 'Volks', 'Ford', 'BMW']

In [184]:
#se quiser inverter a lista, o ultimo será o primeiro e o primeiro será o ultimo.
#não importa a ordenação, mas o método altera a lista inicial
carros2.reverse()
carros2

['BMW', 'Ford', 'Volks', 'Honda', 'Toyota', 'Fiat', 'Ferrai']

In [185]:
#para saber o tamanho da lista
len(carros2)

7

Estrutura de repetição FOR

In [186]:
#Laço for com lista conciste em criar uma variavel, geralmente no singular (cidade) que 
#vai receber um a um os valores da lista e executar determinada função que esta declarada dentro do laço FOR
cidades = ["araras", "campinas", "ribeirão preto", "são paulo"]
for cidade in cidades:
  print("O nome da cidade é: " + cidade.title())

O nome da cidade é: Araras
O nome da cidade é: Campinas
O nome da cidade é: Ribeirão Preto
O nome da cidade é: São Paulo

In [187]:
# o laço for é delimitado pela identação (os espaço de tabulação no começo da linha de comando)
for cidade in cidades:
  print("1a linha de comando do laço: " + cidade.upper()) #está dentro do laço

  print("2a linha de comando do laço: " + cidade.title()) #está dentro do laço


print("Aqui o laço já terminou") # está fora do laço

1a linha de comando do laço: ARARAS
2a linha de comando do laço: Araras
1a linha de comando do laço: CAMPINAS
2a linha de comando do laço: Campinas
1a linha de comando do laço: RIBEIRÃO PRETO
2a linha de comando do laço: Ribeirão Preto
1a linha de comando do laço: SÃO PAULO
2a linha de comando do laço: São Paulo
Aqui o laço já terminou

Missão 9

In [188]:
#1. Pense em 3 marcas que você gosta e crie uma lista com eles. Use for loop para mostrá-los na tela.
brands = ["nestlé", "danone", "cacau show"]

for brand in brands:
  print(brand.title())

Nestlé
Danone
Cacau Show

In [189]:
#a. Modifique seu for loop para mostrar o nome da marca e mais uma mensagem, tipo: "Eu gosto de usar Nike".
for brand in brands:
  print(f"Eu gosto de {brand.title()}")

Eu gosto de Nestlé
Eu gosto de Danone
Eu gosto de Cacau Show

In [190]:
#b. Adicione uma linha fora do seu loop com uma mensagem genérica: "Eu gosto de todas essas marcas."
for brand in brands:
  print(brand.title())

print("Eu gosto de todas as marcas")

Nestlé
Danone
Cacau Show
Eu gosto de todas as marcas

Lista de Números

In [191]:
#função range() cria uma faixa de numeros que pode ser utilizada dentro de um laço FOR para executar determinados comandos repetidas vezes
for num in range(1, 6): # para num dentro do range de 1 a 5 (o seis não vai rodar. É o mesmo que (num < 6)) faça. 
  print(num)

1
2
3
4
5

In [192]:
#para criação de uma lista de números podemos então utilziar o range() combinado com o list()
lista_numeros1 = list(range(1,10)) #isso é o mesmo que digitar lista_numeros1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista_numeros1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [193]:
lista_numeros_pares = list(range(2, 21, 2))
lista_numeros_pares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [194]:
lista_numeros_impares = list(range(1, 20, 2))
lista_numeros_impares

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [195]:
#lista com numeros ao cubo
lista_numeros_aocubo = [] #criei uma lista em branco
for num in range(1, 11):
  numero_aocubo = num ** 3 #fiz a operação e guardei na variavel
  lista_numeros_aocubo.append(numero_aocubo) #guardei o valor da variavel na lista

lista_numeros_aocubo #imprimi a lista

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [196]:
#podemos usar funções de estatistica
print(f"Minimo: {min(lista_numeros_aocubo)}") #mostra o menor numero da lista
print(f"Máximo: {max(lista_numeros_aocubo)}") #mostra o maior nuemro da lista
print(f"Soma:   {sum(lista_numeros_aocubo)}") #mostra a soma da lista

Minimo: 1
Máximo: 1000
Soma:   3025

In [197]:
#mas essa lista com numeros ao cubo poderia ser criada diferente, com apenas uma linha de código
lista2_numeros_aocubo = [num ** 3 for num in range(1, 11)] #teremos a mesma lista anterior
lista2_numeros_aocubo

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Missão 10

In [198]:
#1. Mostre com print uma lista de números de 1 a 5.
lista_missao10 = list(range(1, 6))
lista_missao10

[1, 2, 3, 4, 5]

In [199]:
#2. Mostre com print uma lista de números de 1 a 10.
lista2_missao10 = list(range(1, 11))
lista2_missao10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [200]:
#3. Nesta lista até 1000, use as funções min, max e sum e print os seus valores para ter certeza que a lista esta certa.
print(f"MIN da lista2_missao10: {min(lista2_missao10)}")
print(f"MAX da lista2_missao10: {max(lista2_missao10)}")
print(f"SUM da lista2_missao10: {sum(lista2_missao10)}")

MIN da lista2_missao10: 1
MAX da lista2_missao10: 10
SUM da lista2_missao10: 55

In [201]:
#4. Crie uma lista de números pares numa sequência de 1 a 40.
lista_pares_missao10 = list(range(2, 41, 2))
lista_pares_missao10

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [202]:
#5. Crie uma lista de números ao quadrado de 1 ate 10.
lista_sqr_missao10 = [num ** 2 for num in range(1, 11)]
lista_sqr_missao10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Fatiando uma lista

In [203]:
#listar apenas alguns nomes da lista
nomes = ["pedro", "maria", "joão", "jose", "Lucas"]
print(nomes[1:3]) # nesse caso estou pedindo do item 1 até o 3

['maria', 'joão']

In [204]:
print(nomes[:2]) #nesse caso o python entende que o padrão do inicio é 0

['pedro', 'maria']

In [205]:
print(nomes[2:]) #nesse caso o python entende que o padrão é até o final

['joão', 'jose', 'Lucas']

In [206]:
print(nomes[-3:]) #nesse caso o python pega os ultimos 3

['joão', 'jose', 'Lucas']

In [207]:
#copiando uma lista para outra lista (porque as vezes você quer trabalhar na cópia e depois comparar para ver como ficou)
meus_carros = ["fiat", "ford", "volks", "kia"] #essa lista é a original
meus_carros_copia = meus_carros[:] #dessa maneira eu crio uma cópia
meus_carros_link = meus_carros #dessa maneira eu crio um link

print(f"meus_carros:        {meus_carros}")
print(f"meus_carros_copia : {meus_carros_copia}")
print(f"meus_carros_link :  {meus_carros_link}")

meus_carros:        ['fiat', 'ford', 'volks', 'kia']
meus_carros_copia : ['fiat', 'ford', 'volks', 'kia']
meus_carros_link :  ['fiat', 'ford', 'volks', 'kia']

In [208]:
#vemos que agora temos 3 listas
#mas se alterar meus_carros_copia, não vamos alterar a lista original
meus_carros_copia.append("Hyndai")
print(f"meus_carros:        {meus_carros}")
print(f"meus_carros_copia : {meus_carros_copia}")
print(f"meus_carros_link :  {meus_carros_link}")

meus_carros:        ['fiat', 'ford', 'volks', 'kia']
meus_carros_copia : ['fiat', 'ford', 'volks', 'kia', 'Hyndai']
meus_carros_link :  ['fiat', 'ford', 'volks', 'kia']

In [209]:
#mas se alterar meus_carros_link, vamos alterar a lista original também
meus_carros_link.append("bmw")
print(f"meus_carros:        {meus_carros}")
print(f"meus_carros_copia : {meus_carros_copia}")
print(f"meus_carros_link :  {meus_carros_link}")

meus_carros:        ['fiat', 'ford', 'volks', 'kia', 'bmw']
meus_carros_copia : ['fiat', 'ford', 'volks', 'kia', 'Hyndai']
meus_carros_link :  ['fiat', 'ford', 'volks', 'kia', 'bmw']

In [210]:
#então tomar cuidado ao fazer a cópia ou link.
#podemos também copiar apenas alguma parte da lista usando [:] com valores e usar o mesmo conceito no for

MIssao 11

In [211]:
#1. Dos exercícios anteriores de listas, mostre os três primeiros items de uma lista usando a opção de fatia [:].
lista_missao11 = ['fiat', 'ford', 'volks', 'kia', 'bmw']
lista_missao11[0:3]

['fiat', 'ford', 'volks']

In [212]:
#2. Dos exercícios anteriores de listas, mostre três items do meio de uma lista usando a opção de fatia [:].
lista_missao11[1:4]

['ford', 'volks', 'kia']

In [213]:
#3. Dos exercícios anteriores de listas, mostre os três últimos items de uma lista usando a opção de fatia [:].
lista_missao11[-3:]

['volks', 'kia', 'bmw']

In [214]:
#4. Crie uma lista de minhas_cidades e amigos_cidades e depois adicione a cada lista uma nova cidade. 
#Mostre ambas e tenha certeza que são duas listas diferentes.
cidades_minhas = ["araras", "sao paulo", "ribeirao preto"]
cidades_amigos = cidades_minhas[:]
cidades_amigos.append("leme")
for minhas in cidades_minhas:
  print(f"Minhas cidades:     {minhas}")

for amigos in cidades_amigos:
  print(f"Cidades dos amigos: {amigos}")

Minhas cidades:     araras
Minhas cidades:     sao paulo
Minhas cidades:     ribeirao preto
Cidades dos amigos: araras
Cidades dos amigos: sao paulo
Cidades dos amigos: ribeirao preto
Cidades dos amigos: leme