<a href="https://colab.research.google.com/github/silvioturati/python/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Tuplas basicamente são lista com valores imutaveis. As listas podem ter valores alterados, inlcuidos e exlcuidos. As Tuplas não podem.
#A maneira de trabalhar é similar as listas, mas a declaração é feita usando parenteses. Exemplo:
#variavel = 0
#lista = []
#tuplas = ()

primeira_tupla = (20, 50)
print(primeira_tupla)

(20, 50)

In [2]:
#fatiando a Tupla
print(primeira_tupla[0])

20

In [3]:
#for com tuplas
for item in primeira_tupla:
  print(item)

20
50

Missao 12

In [5]:
#1. Crie uma tupla com 6 items (nomes de países).
paises = ("brasil", "argentina", "uruguai", "peru", "chile")
paises

('brasil', 'argentina', 'uruguai', 'peru', 'chile')

In [7]:
#a. Use for loop e mostre cada país.
for pais in paises:
  print(pais.title())

Brasil
Argentina
Uruguai
Peru
Chile

In [8]:
#b. Tente modificar um item e veja o erro.
paises[0] = "colombia"

TypeError: ignored

In [9]:
#c. Mude os países para 6 novos.
#para mudar os paises teria que declarar uma tupla nova
paises2 = ("França", "Inglaterra", "Italia", "Portugal", "Espanha")
paises2

('França', 'Inglaterra', 'Italia', 'Portugal', 'Espanha')